<!-- Services Section -->
    <section id="security" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Conflict Hotspots, Jul-Sep 2016</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <iframe width="100%" height="520" frameborder="0" src="https://ossielooks.carto.com/viz/9bdf328a-1fc5-4555-b2ae-6c3b1ba8ede7/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    <p class="text-right">
                        Sources: Food Security: FEWS.net (Most likely food security outcome for February 2017 – May 2017) ¦ Population: worldpopdata.org
                    </p>
                </div>
                <div class="col-lg-6 text-center">
                    <h2 class="section-heading">Conflict Hotspots, Oct-Dec 2016</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <iframe width="100%" height="520" frameborder="0" src="https://ossielooks.carto.com/viz/9307d609-bc48-4445-823e-f5cc08e99ede/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    <p class="text-right">
                        Sources: Food Security: FEWS.net (Most likely food security outcome for February 2017 – May 2017) ¦ Population: worldpopdata.org
                    </p>
                </div>
            </div>
        </div>
    </section>
